<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- facebook link -->
            <i class="fa-brands fa-square-facebook"></i>
        <!-- instagranm link -->
        <i class="fa-brands fa-square-instagram"></i>
        <!-- linked in -->
        <i class="fa-brands fa-linkedin"></i>
    </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
   <div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
    <a>Privacy</a>
   </div>
   
    </div>
</footer>